// Define your variable overrides here
// $primary: rgb(112, 77, 139);
// $secondary: #FFB400;
$secondary: #F26430;
$primary: rgb(54, 63, 151);
$dark: #2c3e50;
$color1: rgba(54, 63, 151, 1);
$color2: rgba(42, 45, 52, 1);
$color3: rgba(0, 157, 220, 1);
$color4: rgba(242, 100, 48, 1);
$color5: rgba(0, 155, 114, 1);

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

